<div class="container">
  <div class="root">
    <header>
      <label for="client" [style.backgroundColor]="this.isClient? '#00ADB5' : '#393E46' ">Client</label>
      <input
        type="radio"
        name="role"
        value="client"
        id="client"
        hidden
        (click)="onSelectRole(client.checked)"
        #client>
      <label for="company" [style.backgroundColor]="!this.isClient? '#00ADB5' :'#393E46' ">Company</label>
      <input
        type="radio"
        name="role"
        value="company"
        id="company"
        hidden
        (click)="onSelectRole(client.checked)"
        #company>
    </header>

    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <div>
          <input
            type="text"
            formControlName="email"
            placeholder="Email">
          <p
            class="error"
            *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
          Please enter a valid email
          </p>
        </div>

        <div>
          <input
            type="password"
            formControlName="password"
            placeholder="Password">
          <p
            class="error"
            *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
          Please enter a valid password
          </p>
          <p
            class="error"
            *ngIf="msgError">
            {{msgError}}
          </p>
        </div>

        <button
          type="submit">
          Login
        </button>

      </form>
    </div>
  </div>
</div>

