@import "/~src/style/variables";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: .9rem;
  header {
    text-align: center;
    margin-bottom: 1rem;
  }
  .container, p {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  input {
    padding: .2rem;
    border: none;
    &[type="number"]{
      width: 5rem;
      margin-left: 2rem;
    }
    &.ng-invalid.ng-touched {
      box-shadow: 0 0 5px darkred;
    }
  }
  input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px $turquoise;
  }
  input[readonly] {
    box-shadow: none;
    background-color: rgba(200, 200, 200, 0.5);
  }
  button {
    width: 50%;
    border: none;
    background-color: $button-color;
    color: $gray;
    padding: .5rem;
    //border-top-left-radius: 20px;
    //border-bottom-right-radius: 20px;
  }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
div[formGroupName = "rooms"]{
  margin: .5rem 0 ;
}
.error {
  margin-bottom: .5rem;
  padding: .2rem;
  text-align: center;
  font-size: .9rem;
  background-color: rgba(150, 0, 0, 0.5);
  color: $smoke;
  border-radius: 20px;
}
