@import "/~src/style/variables";

.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 35rem;
    height: fit-content;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    background-color: #dddddd;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 0 0 5px;

    form {
      width: 60%;
      & > div, .room-container {
        display: flex;
        justify-content: space-between;
      }
      .room-container {
        flex-direction: column;
      }
      span.header, p {
        color: black;
        font-size: .9rem;
      }
      input {
        box-sizing: content-box;
        height: 1.5rem;
        padding: .2rem;
        border: .5px solid lightgray;
        border-radius: 4px;
        margin-left: 1rem;
        margin-bottom: .5rem;
        &:focus {
          outline: none;
          box-shadow: 0 0 5px $black;
        }
      }
      .date-cleaning input {
        width: 6rem;
      }
    }
    .status-info {
      width: 100%;
      text-align: end;
      margin-bottom: 1rem;
    }
    button {
      width: 50%;
      border: none;
      background-color: $button-color;
      color: $gray;
      padding: .5rem;
    }
  }
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .container form {
    width: 80%;
    margin: 0;
  }
}
