<div class="container">
  <form [formGroup]="formOfOrder">
    <div class="date-cleaning">
      <span class="header">When</span>
      <input type="text" formControlName="cleaningDate" readonly>
      <input type="text" formControlName="preferredTime" readonly>
    </div>

    <div>
      <span class="header">How often </span>
      <input type="text" formControlName="regularity" readonly>
    </div>

    <div>
      <span class="header">Type of cleaning</span>
      <input type="text" formControlName="cleaningType" readonly>

    </div>

    <div formGroupName="apartmentDescription">
      <p>Rooms</p>
      <div class="room-container">
        Large room( > 35 m2)
        <input type="number" formControlName="countOfLargeRoom" readonly>
        Regular room
        <input type="number" formControlName="countOfStandardRoom" readonly>
        Bathroom
        <input type="number" formControlName="countOfBath" readonly>
      </div>
    </div>

    <div>
      <p>Your address</p>
      <input type="text" formControlName="address" readonly>
    </div>

    <div formGroupName="cleaningServiceInfo">
      <p> Implementer</p>
      <input type="text" readonly formControlName="name">
    </div>

  </form>

</div>
