<div
  *ngIf="!isClient"
  class="container-info"
  [style.color]="statusInfo==='new'? '#d5cd1e' : statusInfo==='canceled'? '#B51313' : '#3FB52A'">

  <div class="status-info"
       [style.color]="statusInfo==='new'? '#d5cd1e' : statusInfo==='canceled'? '#B51313' : '#3FB52A'">
    <h2>{{statusInfo}}</h2>
  </div>

  <div class="reserve-info">
    <div class="date-cleaning">
      <span class="header">When</span>
      <input type="text" [value]="reserveInfo.date" readonly>
      <input type="text" [value]="reserveInfo.time" readonly>
    </div>
    <div>
      <span class="header">Type of cleaning</span>
      <input type="text" [value]="reserveInfo.type" readonly>
    </div>
  </div>

</div>


<div
  *ngIf="isClient"
  class="container-info"
  [style.color]="activeInfo? '#3FB52A' : '#B51313'">

  <div
    class="status-info"
    [style.color]="activeInfo? '#3FB52A' : '#B51313'">
    <h2>{{activeInfo? 'active': 'inactive'}}</h2>
  </div>

  <div class="reserve-info">
    <div class="date-cleaning">
      <span class="header">When</span>
      <input type="text" [value]="reserveInfo.date" readonly>
      <input type="text" [value]="reserveInfo.time" readonly>
    </div>
    <div>
      <span class="header">Type of cleaning</span>
      <input type="text" [value]="reserveInfo.type" readonly>
    </div>
  </div>

</div>
