@import "/~src/style/variables";

.page {
  display: flex;
  min-height: 93vh;
  justify-content: center;

  header {
    font-size: 2rem;
    font-weight: 900;
    color: $turquoise;
    text-align: center;
    margin: .5rem;
  }

  .container {
    width: 60%;
    min-width: 700px;
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    form {

      span.header {
        font-size: 1.1rem;
      }

      input, select {
        box-sizing: content-box;
        height: 1.5rem;
        padding: .2rem;
        border: .5px solid lightgray;
        border-radius: 4px;
        margin-left: 1rem;
        margin-bottom: .5rem;
        &:focus {
          outline: none;
          box-shadow: 0 0 5px $turquoise;
        }
        &.ng-invalid.ng-touched {
          box-shadow: 0 0 5px darkred;
        }
      }
      button {
        width: 50%;
        border: none;
        background-color: $button-color;
        color: $gray;
        font-size: .85rem;
        padding: .5rem;
        //border-top-left-radius: 20px;
        //border-bottom-right-radius: 20px;
      }
    }
    .cleaning-type-box {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem;
      width: 35rem;
    }

    .cleaning-type {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 5.5rem;
      width: 8rem;
      padding: .5rem;
      margin: 5px;
      box-sizing: border-box;
      border-radius: 5px;
      img {
        width: 2.5rem;
      }
      label {
        text-align: center;
        font-size: .9rem;
        margin-bottom: .2rem;
      }
    }
  }
}

//@media (max-width: 800px) {
//  .page {
//    .container {
//      width: 100%;
//      min-width: 500px;
//    }
//  }
//}
@media (max-width: 750px) {
  .page {
    .container {
      width: 100%;
      min-width: 500px;
    }
  }
}

@media (max-width: 550px) {
  .page {
    .container {
      min-width: 300px;
    }
  }
}

@media (max-width: 380px) {
  .page {
    .container {
      //width: 100%;
      min-width: 250px;
      .cleaning-type-box{
        width: auto;
      }
    }
  }
}
