@import "~src/style/variables";

.page {
  min-height: 93vh;
  display: flex;
  justify-content: center;

  .container {
    width: 60%;
    min-width: 700px;
    padding: 1rem;
    box-sizing: border-box;
    p {
      font-size: .85rem;
    }
  }
  .container-info {
    display: flex;
    img {
      height: 12rem;
      width: 12rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .info {
      //margin: 1rem;
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .my-orders {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
      width: 30rem;
      margin: .5rem 0;
      box-sizing: border-box;
      box-shadow: 0 0 5px;
    }
    .status-info {
      width: 100%;
      text-align: end;
      font-weight: 900;
    }
  }

}

input {
  padding: .2rem;
  border: none;
  margin: .5rem 0;
  // width: 100%;
  &.ng-invalid.ng-touched {
    box-shadow: 0 0 5px darkred;
  }
}

input:focus, button:focus {
  outline: none;
  box-shadow: 0 0 5px $turquoise;
}

button {
  width: 50%;
  font-size: .85rem;
  margin: .5rem 0;
  border: none;
  background-color: #dbdbdb;
  color: $gray;
  padding: .5rem;

  &.button-of-orders {
    background-color: #00adb5;
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 750px) {
  .page {
    .container {
      width: 100%;
      min-width: 500px;
    }
  }
}

@media (max-width: 550px) {
  .page {
    .container {
      min-width: 300px;
    }
  }
}

@media (max-width: 380px) {
  .page {
    .container {
      min-width: auto;
    }
  }
}

