@import "~src/style/variables";

.page {
  height: 93vh;
  display: flex;
  justify-content: center;
  .container {
    width: 80%;
    box-shadow: 1px 1px 10px $smoke;
    background-color: whitesmoke;
    padding: 1rem;
    p{
      font-size: .85rem;
    }
  }
  .container-info {
    display: flex;
    img {
      height: 12rem;
      width: 12rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

  }
  .info {
    //margin: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

.error {
  margin-bottom: .5rem;
  padding: .2rem;
  text-align: center;
  font-size: .9rem;
  background-color: rgba(150, 0, 0, 0.5);
  color: $smoke;
  border-radius: 20px;
}

input {
  padding: .2rem;
  border: none;
  margin: .5rem 0;
  // width: 100%;
  &.ng-invalid.ng-touched {
    box-shadow: 0 0 5px darkred;
  }
}

input:focus, button:focus {
  outline: none;
  box-shadow: 0 0 5px $turquoise;
}

button {
  width: 50%;
  border: none;
  background-color: $button-color;
  color: $gray;
  padding: .5rem;
}

@media (max-width: 480px) {
  .page {
    .container{
      width: 100%;
    }
  }
}

