<div class="page" *ngIf="companyArray">
  <div class="container">

    <div class="search-container">
      <h3>Sort by</h3>
      <label
        (click)="radioBtnRate.click();sortBy('rate')"
        [style.borderBottom]="radioBtnRate.checked? '2px solid #00ADB5': '1px solid black' ">
        Rate
      </label>
      <input type="radio" value="rate" name="sort" #radioBtnRate hidden>
      <label
        (click)="radioBtnPrice.click(); sortBy('price')"
        [style.borderBottom]="radioBtnPrice.checked? '2px solid #00ADB5': '1px solid black' ">
        Price
      </label>
      <input type="radio" value="price" name="sort" #radioBtnPrice hidden>
      <label
        (click)="radioBtnDst.click(); sortBy('dst')"
        [style.borderBottom]="radioBtnDst.checked? '2px solid #00ADB5': '1px solid black' ">
        Distance
      </label>
      <input type="radio" value="price" name="sort" #radioBtnDst hidden>

    </div>

    <div class="company-container" *ngFor="let item of companyArray">

      <div class="company-info">

        <img src="../../assets/13441586.jpeg">

        <div class="company-text-info">
          <h3><a (click)="showCompany(item)">{{item.name}}</a> ✡ {{item.company.rate}}</h3>
          <p>{{item.company.address}}</p>
          <p>{{item.distance}}</p>
        </div>

      </div>
      <div class="price-container">
        <p class="price">{{item.price}}</p>
        <button (click)="order(item)">order</button>
      </div>

    </div>
    <mat-paginator
      [length]="totalOffer"
      [pageSize]="offerPerPage"
      [pageSizeOptions]="pageSizeOpt"
      (page)="onChangedPage($event)"></mat-paginator>
  </div>
</div>
